<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic informational site</title>
  </head>
  <body>
    <h1>About page</h1>
    <p>About us</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga totam
      fugiat, aspernatur aliquid recusandae tempore odit facere sed nesciunt
      voluptates tenetur eos adipisci mollitia, tempora ex quam nemo nulla
      corrupti?
    </p>
    <nav>
      <ul style="display: block">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact-me">Contact me</a></li>
      </ul>
    </nav>
  </body>
</html>
